@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fauna+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
}
:root {
  --cor1: rgba(12, 12, 12, 0.1); /* Sombra leve */
  --cor2: rgba(12, 12, 12, 0.3); /* Sombra média */
  --cor3: rgba(0, 0, 0, 0.6);     /* Sombra forte */
  --cor4: rgba(0, 0, 0, 0.8);     /* Sombra interna (inset) */
  --cor5: rgba(30, 30, 30, 0.4);  /* Sombra difusa */
}


body{
  background:#0C0C0C;
  color: white;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
a {
  -webkit-tap-highlight-color: transparent;
  /* Safari/Chrome em dispositivos móveis */
  -webkit-touch-callout: none;
  /* Remove menu de toque no iOS */
}
header{
  background-color: #121212;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom:3cm;
  font-family: 'Poppins';
  z-index: 1000;
}
.logo-header{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
header h1{
  font-size: 24px;
}
header h1 span{
  color:#00c879ce;
}

header img{
  width: 40px;
  border-radius: 50%;
}
/*navbar - desktop*/
.navbar{
  display: none;
}
.navbar a, .navbar-mobile a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.5s ease-out;
  cursor: pointer;
}
.navbar a:hover{
  color: #008a53ce;
}
#span{
  border: 2px solid #00c879ce;
}
#span:hover{
  background: #007e4c6d;
  color: white;
}
/* navbar desktop*/
.menu-lateral {
  background: #121212;
  width: 100vw;
  height: 25vh;
  position: fixed;
  top: 80px;
  z-index: 1000;
  transition: 0.5s;
  opacity: 0;
}
.active{
  opacity: 1;
}
.menu-mobile i{
  font-size: 17px;
  padding: 10px;
  cursor: pointer;
}
.navbar-mobile{
  display: flex;
  flex-direction: column;
}
.navbar-mobile a{
  text-align: center;
  font-size: 15px;
  border-top: 1px solid #cfcfcf69;
  border-radius: 0;
  padding: 20px 0;
}
.navbar-mobile a:hover{
  color: #009d5fce;
}
.menu-p{
  text-align: center;
  margin-top: 30px;
}
.menu-p p{
  color: #00834f;
  font-weight: 600;
}
/* header acima*/

p{
  font-size: 14px;
font-weight: 300;
font-weight: 300;
color: #F9F9F9EB;
}
span{
  color: #00db83;
}
.container-1{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
}
.container-img{
  display: flex;
  flex-direction: column;
  border:none;
  max-width: 430px;
  margin: auto;
  margin-bottom: 2cm;
  border-radius: 15px;
  border: 2px solid #007a4abd;
}
.container-img img{
  border-radius: 13px 13px 0 0;
}
#contato{
  background: #0e0e0e;
  box-shadow: inset 2px 0px 8px 4px #007a4a23;
  border-top: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px;
  border-radius: 0 0 13px 13px;
}
#contato i{
  background: #00804d;
  border-radius: 50%;
  padding: 5px;
  font-size: 13px;
  color:#e5e5e5;
}
#contato #insta{
  font-size: 15px;
  padding: 5px 7px;
}
#contato i:hover{
  background: #005935;
  color: #1F1F1F;
}
.descricao{
  background: #121212;
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  margin: 4cm 0 2cm;
  margin: auto;
  border: 1px solid #00c879ce;
  position: relative;
}
.descricao p{
  text-align: justify;
  font-weight: 300;
}
.descricao h3{
  font-size: 19px;
  font-weight: 700;
  padding: 10px 0;
}
/*.container-1*/

.card{
  max-width:530px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows:1fr;
  gap: 18px;
  margin: 2cm auto;
}
.cards{
  background: #121212;
  border: 1px solid #00c879ce;
  border-radius: 16px;
  padding: 20px;
  position: relative;
}
.cards h3{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 10px 0;
}
.cards p{
  font-weight: 200;
}
.cards h4{
  margin: 13px -5px;
  font-weight: 500;
  color: #00ee90;
}
.linguagens li{
  list-style: none;
  font-size: 14px;
  font-weight: 300;
  color: #F9F9F9EB;
}
.linguagens i{
  font-size: 16px;
  margin-right: 5px;
}
/*cards ACIMA*/
.job-container{
  margin: 2cm 0;
}
.job-container h2 {
  font-size: 20px;
  font-weight: 600;
  color: #00c879ce;
  padding: 10px 15px;
  margin-bottom: 15px;
  background: linear-gradient(to right, #005d386d, transparent);
}
.jobs{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows:300px;
  gap: 17px;
  padding: 17px;
  margin: auto;
}
.jobs .projeto{
  background: #121212;
  border: 1px solid #00c879ce;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s ease-out;
  position: relative;
}
.projeto:hover{
  transform: scale(1.05);
  animation: none;
}
.projeto a{
  position: absolute;
  bottom: 0;
  left:0;
  margin: 10px;
  font-size: 13px;
  text-decoration: none;
  color: #EAEAEAD1;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s ease-out;
  cursor: pointer;
}
.projeto i{
  font-size: 13px;
  margin-right:5px;
}
.projeto a:hover{
  background: #00834f;
  color: white;
  transform: scale(1.05);
}
.projeto h4{
  padding: 10px 0;
  font-size: 17px;
}
#Premium{
  margin-top: 15px;
}

.star{
  position: absolute;
  top: 5px;
  left:10px;
}
.star i{
  font-size: 14px;
  color: #FFBD21;
}
 #repo{
  text-align: center;
  font-weight: 400;
}
#repo a{
  color: #00df89;
  font-weight: 200;
}
#repo a:hover{
  color: #54ffbc;
}
/*container-2*/
.contato-section{
  border: 2px solid #006f446a;
  border-radius: 15px;
  max-width: 500px;
  margin: 4cm auto;
  padding: 20px;
}
.contato-section h2{
  font-size: 25px;
  margin: 10px 0;
}
.box-paragrafo{
  margin: 30px 0;
  max-width: 450px;
}
.box-paragrafo p{
  color: #d5d5d5c9;
}
.message{
  margin: auto;
  max-width: 100%;
  height: 100%;
}
.message form{
  display: flex;
  flex-direction: column;
}
.input{
  background: transparent;
  color:#DDDDDDE6;
  width: 100%;
  border: 2px solid #C8C8C81A;
  padding: 10px;
  border-radius: 20px;
  margin: 10px 0; 
  outline: none;
  transition: 0.15s ease-out;
}
 .input:focus{
  background: #30303080;
  border: 2px solid #00c879ce;
}
#For-message{
  background: transparent;
  color:#DDDDDDE6;
  width: 100%;
  border: 2px solid #C8C8C81A;
  border-radius: 15px;
  margin: 10px 0;
  padding: 10px;
  transition: 0.5s ease-out;
  outline: none;
}
#For-message:focus{
  background: #2F2F2F5E;
  border: 2px solid #00c879ce;
}
#button-message{
  background: #009d5fce;
  width: 96%;
  color: white;
  border-radius: 5px;
  border: 1px solid transparent;  
  padding: 10px;
  margin: 10px;
  transition: transform 0.15s ease-out;
  cursor: pointer;
}
#button-message:hover{
  background: #00623c;
  transform: scale(0.95);
}

/*mensagem*/


footer{
  background: #1F1F1F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
footer h1{
  font-size: 22px;
}
footer ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  list-style: none;
}
foooter #insta{
  font-size: 16px;
}
.icon{
  color: #D3D3D3;
  font-size: 18px;
}



/*FadeIn*/

.fadeIn{
  animation: fade both;
  animation-timeline:view();
}
@keyframes fade{
  0%{
    opacity: 0;
    
  }
  35%, 65%{
    opacity: 1;
    
  }
  100%{
    
  }
}
